tui-svg {
  cursor: pointer;
}

.document {
  margin-left: 30%;
  padding: 0 2em;
  width: 21cm;
  background: white;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

.page-header, .page-header-space {
  height: 130px;
}

.page-footer, .page-footer-space {
  height: 100px;
}

.page-footer {
  visibility: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #333333;
}

.page-header {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #333333;
}

.page {
  page-break-after: always;
  background: white;
  //min-height: 100vh;
  //margin: 0 auto 0.5cm;
  //display: flex;
  //flex-direction: column;
}

@page {
  margin: 20mm
}

@media print {
  tui-svg {
    display: none;
  }

  app-header {
    display: none;
  }

  .no-print {
    display: none;
  }

  thead {
    display: table-header-group;
  }
  tfoot {
    display: table-footer-group;
  }

  button {
    display: none;
  }

  .page-header, .page-footer {
    visibility: visible;
  }

  .document {
    width: 100%;
    background: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
  }
}


//@media print {
//  body * {
//    visibility: hidden;
//  }
//  #invoice, #invoice * {
//    visibility: visible;
//  }
//  #invoice {
//    position: absolute;
//    left: 0;
//    top: 0;
//  }
//  footer {
//
//  }
//}
//
//.page {
//  background: white;
//  //display: block;
//  min-height: 100vh;
//  margin: 0 auto 0.5cm;
//  //padding: 1.5cm 1.5cm 1.5cm 1.5cm;
//  //box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
//  display: flex;
//  flex-direction: column;
//}
//
//.page[size="A4"] {
//  width: 21cm;
//  //height: 29.7cm;
//}

.flex-box {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.flex-child {
  flex: 1;
  text-align: right;
}

.flex-child:first-child {
  text-align: left;
}

table {
  margin-top: 4em;
  table-layout: fixed;
}

.bill-table {
  width: 90%;

  table, th, td {
    text-align: left;
    vertical-align: top;
  }
}

.service-table {
  width: 100%;

  table, th, td {
    text-align: center;
    vertical-align: bottom;
  }

  tr {
    height: 3em;
    border-bottom: 2px solid #333333;

    &.total-row {
      border: none;
    }
  }

  th:first-child,
  td:first-child {
    &.total-cell {
      text-align: right;
    }
    &:not(.total-cell) {
      text-align: left;
    }
  }

  th:last-child,
  td:last-child {
    text-align: right;
  }
}

.invoice-title {
  font-size: 1.5em;
  margin: 0.67em 0;
  font-weight: bold;
}

img {
  height: auto;
  vertical-align: middle;
  display: block;
  max-width: 100px;

  &.small {
    max-width: 50px;
  }
}

.invert {
  filter: invert(100%);
}
