<form
  class="b-form"
  [tuiTextfieldCleaner]="true"
  [formGroup]="group"
>
  <tui-select
    class="tui-space_vertical-3"
    formControlName="chargeName"
    *tuiLet="services$ | async as items"
  >
    Select service
    <tui-data-list *tuiDataList>
      <tui-opt-group label="Custom">
        <button
          tuiOption
          value="Deposit"
          (click)="addCustomService()"
        >
          Deposit
        </button>
        <button
          tuiOption
          value="Price per day"
          (click)="addCustomService()"
        >
          Price per day
        </button>
      </tui-opt-group>

      <tui-opt-group label="Default">
        <button
          *ngFor="let item of items"
          tuiOption
          [value]="item.name"
          (click)="addDefaultService(item)"
        >
          {{ item.name }}
        </button>
      </tui-opt-group>
    </tui-data-list>
  </tui-select>

  <tui-error
    formControlName="chargeName"
    [error]="[] | tuiFieldError | async"
  ></tui-error>

  <tui-input class="tui-space_vertical-3" formControlName="price">Price ₾</tui-input>
  <tui-error
    formControlName="price"
    [error]="[] | tuiFieldError | async"
  ></tui-error>

  <tui-input-count
    class="tui-space_vertical-3"
    formControlName="quantity"
    [min]="1"
  >
    Quantity
    <input
      tuiTextfield
    />
  </tui-input-count>
  <tui-error
    formControlName="quantity"
    [error]="[] | tuiFieldError | async"
  ></tui-error>
</form>

<button tuiButton appearance="primary" class="tui-space_right-3" (click)="ok()" [disabled]="disabled">Save</button>
<button tuiButton (click)="cancel()">Cancel</button>
