<app-header [title]="'Company information'"></app-header>

<div class="main" *tuiLet="company$ | async as company">
<ng-container *ngIf="company">
  <tui-toggle
    [(ngModel)]="isEditModeOn"
    size="l"
    (click)="toggleForm()"
  ></tui-toggle>

  <form
    class="b-form"
    [formGroup]="group"
  >
    <tui-input class="tui-space_vertical-3" formControlName="name">Company name</tui-input>
    <tui-error
      formControlName="name"
      [error]="[] | tuiFieldError | async"
    ></tui-error>

    <tui-input class="tui-space_vertical-3" formControlName="companyId">Company ID</tui-input>
    <tui-error
      formControlName="companyId"
      [error]="[] | tuiFieldError | async"
    ></tui-error>

    <tui-input class="tui-space_vertical-3" formControlName="address">Address</tui-input>
    <tui-error
      formControlName="address"
      [error]="[] | tuiFieldError | async"
    ></tui-error>

    <tui-input class="tui-space_vertical-3" formControlName="bank">Bank</tui-input>
    <tui-error
      formControlName="bank"
      [error]="[] | tuiFieldError | async"
    ></tui-error>

    <tui-input-phone
      class="tui-space_vertical-3"
      formControlName="phone"
      [countryCode]="'+995'"
      [phoneMaskAfterCountryCode]="'###-##-##-##'"
    >
      Phone
      <input
        tuiTextfield
        autocomplete="tel"
      />
    </tui-input-phone>
    <tui-error
      formControlName="phone"
      [error]="[] | tuiFieldError | async"
    ></tui-error>

    <tui-input class="tui-space_vertical-3" formControlName="email">
      Email
      <input
        tuiTextfield
        type="email"
      />
    </tui-input>
    <tui-error
      formControlName="email"
      [error]="[] | tuiFieldError | async"
    ></tui-error>

    <tui-input-files
      *ngIf="!this.group.get('logo')?.value"
      accept="image/png"
      formControlName="logo"
    ></tui-input-files>

    <tui-files class="tui-space_vertical-3">
      <tui-file
        *ngIf="loadedFiles$ | async as file"
        [file]="file"
        (removed)="removeFile()"
      ></tui-file>
    </tui-files>

  </form>

  <button tuiButton appearance="primary" class="tui-space_right-3" (click)="save(company)" [disabled]="disabled">Save</button>
</ng-container>
</div>
